@{
    ViewData["Title"] = "Contact";
}

<h2>HiTechFromLoTech Project</h2>
<h4>of which XMRemoteRobot is a part:</h4>

<address>
    <strong>Project Leader:</strong> <a href="mailto:mitcitmm@gmail.com">mitcitmm@gmail.com</a><br />
</address>

<address>
    John Calder<br />
    Senior Lecturer in Information Technology<br />
    Manukau Institute of Technology<br />
    corner Manukau Station Rd and Davies Avenue<br />
    Auckland 2104<br />
    New Zealand<br/>
    <br />
    <abbr title="Phone">P:</abbr> +64-9-9754612

</address>


