@{
    ViewData["Title"] = "Contact and About";
}
<div class="container mt-3">
	<h2>"Creative Repurposing of Accessible Technologies"</h2>
	<h4>of which the open source software XMRemoteRobot is a part:</h4>

	<address>
		<strong>Project Contact:</strong>: <a href="mailto:mitcitmm@gmail.com">mitcitmm@gmail.com</a><br />
	</address>

	<address>
		John Calder<br />
		Senior Lecturer in Information Technology<br />
		Manukau Institute of Technology<br />
		corner Manukau Station Rd and Davies Avenue<br />
		Auckland 2104<br />
		New Zealand<br />
		<br />
		
		Phone: <abbr title="Phone"><a href="tel:+6499754612">+64-9-9754612</a></abbr>

	</address>

	<p>
		Copyright © 2017 John Calder as Project Leader.<br />
		XMRemoteRobot software, and related robot designs published with it, is an "Open Source" project. We apply the Apache Licence:<br />
		http://www.apache.org/licenses/LICENSE-2.0
		<br /><br />
		Unless required by applicable law or agreed to in writing, software
		distributed under the License is distributed on an "AS IS" BASIS,
		WITHOUT WARRANTIES OF ANY KIND, either express or implied.
		See the License for the specific language governing permissions and
		limitations under the License.
	</p>

	<p>
		This is an output from research, teaching and learning at the Manukau Institute of Technology, Auckland, New Zealand
	</p>


</div>

