@{
    ViewData["Title"] = "Home Page";
    if (ViewData["Message"].ToString() == "")
    {
        <h2>XMRemoteRobot</h2>
    }
    else
    {
        <h2 style="color:red">@ViewData["Message"]</h2>
    }
}


<br />
<div class="row" style="white-space: nowrap; overflow-x: scroll">
    <img src="~/images/IMG_3304.JPG" style="height:200px;" />
    <img src="~/images/IMG_3307.JPG" style="height:200px;" />
    <img src="~/images/Test02Circle.jpg" style="height:200px;" />
    <img src="~/images/Test02Moni.jpg" style="height:200px;" />
    <img src="~/images/Test02Patches.jpg" style="height:200px;" />
    <img src="~/images/IMG_3309.JPG" style="height:200px;" />
    <img src="~/images/IMG_1154.JPG" style="height:200px;" />
</div>
<br />
<div class="row" style="font-family: Verdana; font-size:0.4cm; color: black">
    <div class="col-md-6">
        <p>
            A project where we use mobile phones as robot processor "brains".<br />
            <br />
            This app is the messaging server which currently enables remote-control via HTTP.
            That means we can control a wide range of distant devices over the public Internet as well the more common local area control.
            <br /><br />
            We use this for operating our robots over the Internet.
        </p>

        <p>
            Many of the devices we run, eg laptops and phones, cannot talk to each other directly over
            the public Internet. Our "Commanders" and "Collectors"(Receivers) need to connect as clients to this server system
            which receives and passes on their messages.
        </p>

    </div>

    <div class="col-md-6">
        <p>
            Pages "Test01" and "Test02", in the above menu, consist of 2 independent pages side by side
            to give a simulation of "commander"(left) and "collector/receiver"(right).
        </p>
        <p>
            "Test01" has buttons to send simple color change signals.<br />
            "Test02" is the setup that we use to remote control our "creative rat" vehicle. Videos:<br />
            <a target="_blank" href="https://www.youtube.com/watch?v=aVQCipqSoCs">https://www.youtube.com/watch?v=aVQCipqSoCs</a> <br />
            <a target="_blank" href="https://www.youtube.com/watch?v=dGFSwtsQrS8">https://www.youtube.com/watch?v=dGFSwtsQrS8</a> <br />
            <br />
        </p>
        <p>
            "Robot01" is for testing "Test01" with client devices eg phones.<br />
            "Robot02" is for testing "Test02" with client devices eg phones.<br />
            "Robot03" is standalone for testing the light patch effect on phones etc. <br />
        </p>

        <p>
            For the techies: This is a "long polling" app. <br />
            The fastest send and receive rates are 0.2 to 0.5 sec. If Commanders are pausing or slow then
            the server delays "no new message" responses by 2 to 4 sec.
        </p>
    </div>
</div>
<div class="row" style="font-family: Verdana; font-size:0.4cm; color: black">
    <div class="col-md-6">
        <p>
            The blog:<br />
            <a href="https://hitechfromlotech.blogspot.com">https://hitechfromlotech.blogspot.com</a>
        </p>

        <p>
            The videos:<br />
            <a href="https://www.youtube.com/iafilm">https://www.youtube.com/iafilm</a>
        </p>
    </div>
    <div class="col-md-6">
        &nbsp;
    </div>
</div>

