@{
    ViewData["Title"] = "Home Page";

}

@*20180804 JPC longer slide change interval with data-interval-"9000"
    ref: https://iiiji.com/bootstrap-carousel-slider-transition-speed-time-interval/
    ref: https://getbootstrap.com/docs/4.0/components/carousel/
*@
<div id="carouselXMRR" class="carousel slide p-0" data-ride="carousel" data-interval="9000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                <div class="col col-sm-6">
                    <img class="d-block w-100" src="~/images/crat (5).JPG" alt="CRAT">
                </div>
                <div class=" col col-sm-6">
                    <img class="d-block w-100" src="~/images/crat (2).JPG" alt="CRAT">
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="row">
                <div class="col-md-12">
                    <img class="d-block w-100" src="~/images/old-photos.jpg" alt="CRAT">
                </div>
            </div>
        </div>


        <div class="carousel-item">
            <div class="row">
                <div class="col col-sm-6">
                    <img class="d-block w-100" src="~/images/crat (3).JPG" alt="CRAT">
                </div>

                <div class="col col-sm-6">
                    <img class="d-block w-100" src="~/images/crat (4).JPG" alt="CRAT">
                </div>

            </div>

        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col col-sm-6">
                    <img class="d-block w-100" src="~/images/crat (1).JPG" alt="CRAT">
                </div>

                <div class="col col-sm-6">
                    <img class="d-block w-100" src="~/images/crat (6).JPG" alt="CRAT">
                </div>

            </div>

        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col col-sm-6">
                    <img class="d-block w-100" src="~/images/crat (7).JPG" alt="CRAT">
                </div>

                <div class="col col-sm-6">
                    <img class="d-block w-100" src="~/images/crat (8).JPG" alt="CRAT">
                </div>

            </div>

        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col col-sm-6">
                    <img class="d-block w-100" src="~/images/crat (9).JPG" alt="CRAT">
                </div>

                <div class="col col-sm-6">
                    <img class="d-block w-100" src="~/images/crat (10).JPG" alt="CRAT">
                </div>

            </div>

        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col col-sm-6">
                    <img class="d-block w-100" src="~/images/crat (11).JPG" alt="CRAT">
                </div>

                <div class="col col-sm-6">
                    <img class="d-block w-100" src="~/images/crat (12).JPG" alt="CRAT">
                </div>

            </div>

        </div>

        <a class="carousel-control-prev" href="#carouselXMRR" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselXMRR" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<br />

<div class="container" style="font-family: Verdana; font-size:0.4cm; color: black">
    <h2 class="text-center mb-5">XMRemoteRobot</h2>
    <div class="row">
        <div class="col-md-6">
            <b>Introduction</b>
            <p>
                A project where we use smartphones and smartwatches as robot processor "brains".<br />
                <br />
                This app is the messaging server which currently enables remote-control via "SignalR".
                That means we can control a wide range of distant devices over the public Internet.
                <br /><br />
            </p>
            <p>
                For demos and quick testing our signals cause light patches on the device screen to change brightness.
                This gets detected by LDR sensors which feed into motor and servo control circuits.<br />
                For more precise control the device passes commands to microprocessors via bluetooth.
            </p>
        </div>
        <div class="col-md-6">
            <b>What's in the menu?</b>
            <p>"Test01" and "Test02" are the test pages for larger screen devices, tablet or bigger.<br />
            "Robot01" and "Robot02" are the corresponding optional-extra pages for smartphones or other android devices acting as robot brains.
            </p>
            <p>
                In <a href="~/home/test01">"Test01"</a> we get to click buttons on the left of the page
                and a rectangle on the right changes color.
                If nothing is happening try clicking the left "Register" button.
                The big deal here is that the command travels to a SignalR server and back which could be a journey of thousands of kilometres.
                We can check the journey time. <br /><br />
                We can then click on "Change to Device" to make the right hand view disappear, then open this website with
                a smartphone, or other device, and click on "Robot01" in the menu. The screen left
                hand side gives us a "CommanderId" number which we need to enter into the smartphone to get a
                pairing happening.
            </p>
            <p>
                <a href="~/home/test02">"Test02"</a> is our remote control for the drive motors of "Roxie the Robot".
                We can use a smartphone to open this website and click on "Robot02".<br />
                On the left is a green circle where we move the mouse to control "Roxie".
                We can also click "Change to GamePad" if we have a USB game controller available.
            </p>
        </div>
    </div>
    <p>&nbsp;</p>
    <div class="row">
        <div class="col-md-6">
            <b>Videos</b><br />
            <p>
                The "light patch" interface enables any device with a browser to act as a robot brain by opening a web page.<br />
                <a href="https://www.youtube.com/watch?v=K4PWizgi_Ck" target="_blank">
                    https://www.youtube.com/watch?v=K4PWizgi_Ck
                </a>
            </p>
            <p>
                Robot Remote Control Achieved<br />
                <a target="_blank" href="https://www.youtube.com/watch?v=aVQCipqSoCs">https://www.youtube.com/watch?v=aVQCipqSoCs</a>
            </p>
            <p>
                Evolution of a Snake Robot<br />
                <a target="_blank" href="https://www.youtube.com/watch?v=1kkDN4BqMLU">https://www.youtube.com/watch?v=1kkDN4BqMLU</a>
            </p>
            <p>
                Snake Robot moves with "inchworm" gait<br />
                <a target="_blank" href="https://www.youtube.com/watch?v=fH-PG9sievw">https://www.youtube.com/watch?v=fH-PG9sievw</a>
            </p>
        </div>

        <div class="col-md-6">
            <p>
                <b>Blog</b><br />
                HiTechFromLoTech is about looking for the hidden talents in ordinary and accessible
                technologies then putting them together in new and interesting ways
                for maker interest, education, and even research and invention.<br />
                <a target="_blank" href="https://hitechfromlotech.blogspot.com">https://hitechfromlotech.blogspot.com</a>
            </p>
            <p>

            </p>
        </div>
    </div>
